<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.katerina.mapsex" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-library android:name="com.google.android.maps" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBXZ2cE90bEYSQOakz_r5E4_l4unOW6t_4" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DemoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CheckInInfoActivity"
            android:label="@string/title_activity_activity_2" >
        </activity>
        <activity
            android:name=".ParolActivity"
            android:label="@string/title_activity_parol"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.katerina.mapsex.LoginActivity" />
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.katerina.mapsex.LoginActivity" />
        </activity>
        <activity
            android:name=".TeamsActivity"
            android:label="@string/title_activity_teams" >
        </activity>
        <activity
            android:name=".CertainTeamActivity"
            android:label="@string/title_activity_certain_team" >
        </activity>
        <activity
            android:name=".GamesActivity"
            android:label="@string/title_activity_games" >
        </activity>
        <activity
            android:name=".NewTeamActivity"
            android:label="@string/title_activity_new_team" >
        </activity>
        <activity
            android:name="ru.ulogin.sdk.UloginAuthActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".RatingActivity"
            android:label="@string/title_activity_rating" >
        </activity>
    </application>

</manifest>
